.container{
  display: flex;
  align-items:center;
  margin-left: 50px;
  padding: 30px;
}
.video{
  float:center;
  padding:50px;
  width: 500px;
  
}
img{
  width:300px;
}
.location{
  display: inline-block;
  width: 50%;
  margin-left: 5%;
}
.titolo{
  width::100%;
  text-align:center;
}
