.menu_card{
  display: flex;
  align-items:center;
  margin-left: 50px;
  padding: 30px;
}
.menu_movie{
  float:center;
  padding:50px;
  width: 500px;
  }
  
img{
  width:300px;
}
.desc{
  display: inline-block;
  width: 50%;
  margin-left: 5%;
}
.titolo{
  width::100% ;
  text-align:center;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
}
